:root {
	--light-p: #fff0f3;
	--coral: #ff4d6d;
	--peach: #ff8fa3;
	--pink: #ff758f;
	--dark-p: #c9184a;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	font-weight: normal;
}

body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
	color: var(--coral);
	background: var(--light-p);
	line-height: 1.6;
	font-family:
		Roboto,
		Inter,
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Oxygen,
		Ubuntu,
		Cantarell,
		'Fira Sans',
		'Droid Sans',
		'Helvetica Neue',
		sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
